<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Prediction</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="http://localhost:4000/static/aos/aos.css" rel="stylesheet">
  <link href="http://localhost:4000/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://localhost:4000/static/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="http://localhost:4000/static/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="http://localhost:4000/static/remixicon/remixicon.css" rel="stylesheet">
  <link href="http://localhost:4000/static/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="http://localhost:4000/static/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart - v1.9.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body background="http://localhost:4000/static/hero-bg.png">

  <!-- ======= Header ======= -->
  <header id="header" class="header bg-white fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="http://localhost:4000/static/statistika.png" alt="">
      </a>


      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/#about">About</a></li>
          <li><a class="nav-link scrollto active" href="/predict">Prediction</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    
    <div class="container">
      <div class="justify-content-center">
        <center>
        <div class="justify-content-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="http://localhost:4000/static/p.png" width="40%" class="img-fluid" alt="">
          <h1 data-aos="fade-up" class="text-center">CYBERHARRASSMENT PREDICTION ANALYSIS</h1>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <center>
              <form method="POST" action="http://localhost:4000/SBA_Loan_Result">
              <br>
                  <div class="form-row" style="width: 800px">
                      <div class="form-group" required="required">
                        <center>
                          <input type="text" class="form-control" style="width: 600px" name="twitter" placeholder="Comment" required=True>
                        </center>
                      </div>
                  </div>  
              <br>
              <button type="submit" style="background-color: rgb(0, 0, 0); color: whitesmoke" class="btn btn-info">Comment Prediction</button>
              </form>
              </center>
            </div>
          </div>
        </div>
        </center>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Putri Ermayani</span></strong>. STATISTIKA UII
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="http://localhost:4000/static/purecounter/purecounter.js"></script>
  <script src="http://localhost:4000/static/aos/aos.js"></script>
  <script src="http://localhost:4000/static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="http://localhost:4000/static/glightbox/js/glightbox.min.js"></script>
  <script src="http://localhost:4000/static/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="http://localhost:4000/static/swiper/swiper-bundle.min.js"></script>
  <script src="http://localhost:4000/static/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="http://localhost:4000/static/main.js"></script>

</body>

</html>